.App-header {
  	font-size: calc(10px + 2vmin);
  	text-align: center;
}

.indent {
  	margin-left: 75px;
}

.status {
	border: 2px solid black;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	align-self: center;
	margin-left: 5px;
}